.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    padding: 0 65px 200px 65px;
}
.collage_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.collage_item{
    width: calc(20% + 30px);
    padding: 0 10px;
    margin: 0 -25px;
    position: relative;
}
.collage_item::after, .collage_item::before{
    display: block;
    content: "";
    position: absolute;
    top: -10px;
    width: 30px;
    height: 10px;
    background: #000;
    border-radius: 4px 4px 0 0;
    left: 0;
    margin: 0 auto;
    right: 0;
}
.collage_item::before{
    height: 50px;
    content: "";
    display: block;
    width: 1px;
    background: #000;
    bottom: 100%;
    top: auto;
    z-index: -1;
}
.collage_item:nth-child(1){
    margin-top: 0;
}
.collage_item:nth-child(2){
    margin-top: -200px;

}
.collage_item:nth-child(3){
    margin-top: 0;

}
.collage_item:nth-child(4){
    margin-top: -200px;

}
.collage_item:nth-child(5){
    margin-top: 0;

}
.collage_item_inner {
    border: 10px solid #fff;
    width: 100%;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}
.collage_item_inner::after{
    display: block;
    content: "";
    padding-bottom: 100%;
}
.collage_item_inner img{
    display: block;
    position: absolute;
    top: 0;

}

@media (max-width: 767px) {
    .collage_item{
        width: 50%;
        margin: 20px 0!important;
    }
    .collage_item:nth-child(1){
        z-index: 5;
    }
    .collage_item:nth-child(2){
       z-index: 4;
    
    }
    .collage_item:nth-child(3){
        z-index: 3;
    
    }
    .collage_item:nth-child(4){
        z-index: 2;
    
    }
    .collage_item:nth-child(5){
        z-index: 1;
    }
    .container{
        margin-top: 100px;
    }
}